.banner {
    display: flex;
    align-items: flex-start;
    padding: 13px;
}

.banner > img {
    height: 20vh;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.banner__text > h2 {
    font-size: 48px;
    margin-bottom: 7px;
}

.banner__text > p {
    font-size: 14px;
}